<div class="row" *ngIf="menu">
  <div class="col-xs-12">
    <div class="current-comp">
      <h2>{{ menu.name }}</h2>
      <div *ngIf="menu.type !== 'report'">
        <app-grades-list></app-grades-list>
        <h3 *ngIf="!gradeNum && menu.type !== 'report'" class="select-grade">
          قم بإختيار الشعبة
        </h3>
        <app-students-absent-late-list
          [menuType]="menu.type"
          *ngIf="showList"
        ></app-students-absent-late-list>
      </div>
      <!-- Show report section -->
      <div class="report-section">
        <app-students-report-list
          *ngIf="menu.type === 'report'"
        ></app-students-report-list>
      </div>
      <!---->
    </div>
  </div>
</div>
<div class="row" *ngIf="!menu">
  <div class="col-xs-12">
    <div class="current-comp">
      <h1>نظام تسجيل الغياب والحضور</h1>
      <h3>من فضلك إختر من القائمة الرئيسية</h3>
    </div>
  </div>
</div>
