<div class="row">
  <div class="col-xs-8">
    <h3>
      Students List in class ( {{ currentActiveGrade }} -
      {{ currentActiveClass }} )
    </h3>
  </div>
  <div class="col-xs-2">
    <button class="btn btn-success" (click)="onSaveClass()" [disabled]="saving || !dataChanged">
      <app-loading *ngIf="saving"></app-loading>
      {{ !saving ? 'Save' : ''}}
    </button>
  </div>
  <div class="col-xs-2">
    <button class="btn btn-danger" (click)="onCloseClass()" [disabled]="saving">
      Close class
    </button>
  </div>
</div>
<h4 *ngIf="menuType === 'manage'">Manage menu</h4>
<h4 *ngIf="menuType === 'insert'">Insert menu</h4>

<!-- Here is the insert menu for students -->
<div class="row" *ngIf="menuType === 'insert'">
  <div class="col-xs-3">Phone</div>
  <div class="col-xs-3">Late</div>
  <div class="col-xs-3">Absent</div>
  <div class="col-xs-3">Name</div>
</div>

<!-- Here is the manage menu for students -->
<app-add-students *ngIf="menuType === 'manage'"></app-add-students>
<div class="row" *ngIf="menuType === 'manage'">
  <div class="col-xs-8">Actions</div>
  <div class="col-xs-4">Name</div>
</div>

<!-- here for both menus -->
<div *ngIf="students.length > 0">
  <app-student-absent-late
    *ngFor="let student of students"
    [student]="student"
    [menuType]="menuType"
    (absentChange)="changeStudentAbsentData($event)"
    (lateChange)="changeStudentLateData($event)"
  ></app-student-absent-late>
</div>

<!-- here for both menus too -->
<div class="row" *ngIf="students.length === 0">
  <div class="col-xs-12">
    <h4>No students in this class</h4>
  </div>
</div>
