<div class="row text-center no-print">
  <div class="col-xs-12">
    <h3 *ngIf="stuSummary.length === 0">
      <span class="title">اختر الفترة ثم نوع التقرير</span>
    </h3>
    <h3 *ngIf="stuSummary.length > 0">
      <span class="title">اختر الفترة ثم عرض التقرير</span>
    </h3>
  </div>
</div>
<div class="row text-center no-print">
  <div class="col-xs-6">
    <div class="form-group">
      <label for="to"><h3>: إلــى</h3></label>
      <input
        id="to"
        type="date"
        class="form-control"
        placeholder=""
        (change)="onDateToChange()"
        [(ngModel)]="selectedDateTo"
      />
    </div>
  </div>
  <div class="col-xs-6">
    <div class="form-group">
      <label for="from"><h3>: مــن</h3></label>
      <input
        id="from"
        type="date"
        class="form-control"
        placeholder=""
        (change)="onDateFromChange()"
        [(ngModel)]="selectedDateFrom"
      />
    </div>
  </div>
</div>
<!-- <div class="row text-center">
  <div class="col-xs-4 col-xs-push-4">
    <h3>Reports</h3>
    <input
      type="date"
      class="form-control"
      placeholder=""
      (change)="onDateChange()"
      [(ngModel)]="selectedDate"
    />
  </div>
</div> -->
<div class="row text-center no-print" style="margin-top: 30px">
  <div class="col-xs-6" *ngIf="stuSummary.length === 0">
    <button
      class="btn btn-warning"
      (click)="onLate()"
      [disabled]="
        selectedDateFrom.trim().length === 0 ||
        selectedDateTo.trim().length === 0
      "
    >
      الـمـتـأخـريـن
    </button>
  </div>
  <div class="col-xs-6" *ngIf="stuSummary.length === 0">
    <button
      class="btn btn-danger"
      (click)="onAbsents()"
      [disabled]="
        selectedDateFrom.trim().length === 0 ||
        selectedDateTo.trim().length === 0
      "
    >
      الـغــائـبـيـن
    </button>
  </div>
  <div class="col-xs-4 col-xs-push-4" *ngIf="stuSummary.length > 0">
    <button
      class="btn btn-primary"
      [disabled]="
        selectedDateFrom.trim().length === 0 ||
        selectedDateTo.trim().length === 0
      "
      (click)="onShowStudentReport()"
    >
      عـرض الـتـقـريـر
    </button>
  </div>
</div>
<div class="row text-center" *ngIf="optionClicked">
  <div class="col-xs-12">
    <h3>
      <span style="color: red">{{ selectedDateTo }}</span> ---
      <span style="color: green">{{ selectedDateFrom }}</span>
    </h3>
  </div>
</div>

<!-- This table is for all students -->
<div
  class="row my-table"
  *ngIf="
    optionClicked && myReturnedStudents.length > 0 && stuSummary.length === 0
  "
>
  <div class="col-xs-12">
    <table class="table table-striped">
      <tbody>
        <tr>
          <th>تقرير الـطـالـب</th>
          <th *ngIf="selectedDateFrom !== selectedDateTo">عدد مرات الغياب</th>
          <th>الـسـبـب</th>
          <th>إسم الطـالب</th>
          <th>الفـصـل</th>
          <th>الـشـعـبة</th>
        </tr>
        <tr *ngFor="let item of myReturnedStudents">
          <td>
            <button
              class="btn btn-default"
              (click)="onViewReport(item.student, item.counter)"
            >
              <span class="glyphicon glyphicon-list-alt"></span>
            </button>
          </td>
          <td *ngIf="selectedDateFrom !== selectedDateTo">
            {{ item.counter }}
          </td>
          <td>{{ item.student.reason }}</td>
          <td>{{ item.student.name }}</td>
          <td>{{ item.student.classNum }}</td>
          <td>{{ item.student.gradeNum }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- This table for student report only -->
<div class="row my-table" *ngIf="optionClicked && stuSummary.length > 0">
  <div class="col-xs-12">
    <h2>الطالب: {{ stuSummary[0].student.name }}</h2>
    <h3>
      <span
        style="
          color: red;
          border: 1px solid #333;
          border-radius: 7px;
          padding: 10px 40px;
          background-color: #ffdede;
        "
        >{{ stuSummary[0].student.classNum }} -
        {{ stuSummary[0].student.gradeNum }}</span
      >
    </h3>
    <h3 *ngIf="currentAbsentsCounterForStudent > 0">
      <span style="color: #0078da">
        ({{ currentAbsentsCounterForStudent }}) عدد مرات الغياب</span
      >
    </h3>
  </div>

  <!-- This table for student report -->
  <div class="col-xs-12">
    <table class="table table-striped">
      <tbody>
        <tr>
          <th>الـحـالـة</th>
          <th>الـتـاريـخ</th>
        </tr>
        <tr *ngFor="let info of reportPeriod">
          <td
            [ngStyle]="{
              color: info.student.reason === 'غائب' ? 'red' : 'black'
            }"
          >
            {{ info.student.reason }}
          </td>
          <td>{{ info.date }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div
  class="row text-center"
  style="margin-top: 30px"
  *ngIf="
    optionClicked && myReturnedStudents.length === 0 && stuSummary.length === 0
  "
>
  <div class="col-xs-12">
    <div class="alert alert-danger">
      Nothing found for the selected date & option
    </div>
  </div>
</div>
