<div class="container">
  <div class="row text-center">
    <div class="col-xs-12">
      <h1>Absents App 2023</h1>
    </div>
  </div>
  <hr />
  <div class="row text-center">
    <div class="col-xs-6">
      <button class="btn btn-danger btn-lg" (click)="onManage()" [disabled]="saving">Manage</button>
    </div>
    <div class="col-xs-6">
      <button class="btn btn-success btn-lg" (click)="onInsert()">
        Insert
      </button>
    </div>
  </div>
  <app-grades-list *ngIf="showInsert"></app-grades-list>
  <app-students-absent-late-list
    *ngIf="showAbsLateList"
  ></app-students-absent-late-list>
  <app-students-manage-list *ngIf="showManage"></app-students-manage-list>
</div>
