@media print
{    
    .no-print, .no-print *
    {
        width: 0 !important;
    }
    .print-report {
      width: 100%;
    }
}
.container {
  background-color: #eef2f5;
  border: 1px solid #CCC;
  border-radius: 10px;
}
