<form (ngSubmit)="onSubmit()" #f="ngForm">
  <div class="form-group">
    <label for="password1">كلمة المرور الجديدة</label>
    <input
      type="password"
      id="password1"
      class="form-control"
      name="password1"
      placeholder="كلمة المرور الجديدة"
      ngModel
      required
    />
  </div>
  <div class="form-group">
    <label for="password2">تأكيد كلمة المرور الجديدة</label>
    <input
      type="password"
      id="password2"
      class="form-control"
      name="password2"
      placeholder="تأكيد كلمة المرور الجديدة"
      ngModel
      required
    />
  </div>
  <button class="btn btn-success" type="submit" [disabled]="!f.valid">
    حفظ كلمة المرور
  </button>
</form>
