<div
  class="row"
  [ngClass]="{
    red: absentStatus.length > 0 || student.absent,
    green:
      absentStatus.length === 0 &&
      !lateStatus &&
      !student.absent &&
      !student.late,
    orange: lateStatus || student.late
  }"
>
  <div class="col-xs-3">
    {{ student.phone }}
  </div>
  <div class="col-xs-3">
    <input
      type="checkbox"
      class="form-control"
      name="late"
      [(ngModel)]="lateStatus"
      value="1"
      (change)="onLateChange($event, student.id)"
      [disabled]="lateDisabled || student.absent"
    />
    <input
      *ngIf="lateStatus"
      type="text"
      class="form-control"
      [(ngModel)]="lateReason"
      [value]="student.reason"
      placeholder="Reason..."
    />
    <button class="btn btn-success" (click)="onSaveReason()" *ngIf="lateStatus">Save Reason</button>
  </div>
  <div class="col-xs-3">
    <select
      name="absent"
      class="form-control"
      [(ngModel)]="absentStatus"
      (change)="onAbsentChange($event, student.id)"
      [disabled]="absDisabled || student.late"
    >
      <option
        *ngFor="let opt of absentsOptions"
        [value]="opt"
        [selected]="absentStatus == true"
      >
        {{ opt }}
      </option>
    </select>
  </div>
  <div class="col-xs-3">
    {{ student.name }}
  </div>
</div>
